/* Mobile container utility class: */
.container {
  width: 100%;
  height: 100vh;
}

/* xs */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
    background-color:darkgoldenrod;
  }
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
    background-color:oldlace;
  }
}

/* xs */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    background-color:darkorchid;
  }
}

@media (min-width: 390px) {
  .container {
    max-width: 390px;
    background-color:navy;
  }
}

@media (min-width: 412px) {
  .container {
    max-width: 412px;
    background-color:fuchsia;
  }
}

@media (min-width: 414px) {
  .container {
    max-width: 414px;
    background-color:lawngreen;
  }
}

/* xs */
@media (min-width: 425px) {
  .container {
    max-width: 425px;
    background-color:darkslategray;
  }
}

@media (min-width: 430px) {
  .container {
    max-width: 430px;
    background-color:hotpink;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    background-color: skyblue;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    background-color: sienna;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    background-color: yellow;
  }
}

/* md */
@media (min-width: 820px) {
  .container {
    max-width: 820px;
    background-color:peru;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    background-color: yellowgreen;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    background-color: coral;
  }
}

/* 2xl */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    background-color: cadetblue;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    background-color: aquamarine;
  }
}

/* 2xl */
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    background-color: beige;
  }
}

/* 2xl */
@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
    background-color: blue;
  }
}


