.select {
   width: 83px;

   display: flex;
   justify-content: center;
   align-items: center;

   margin-top: 20px;
}

.select select{
   outline: none;

   border-radius: 12px;
   border: none;

   padding: .5rem;
}